*/target/*
*/.idea/*
*iml
*/.gradle/*
*/gradle/*
*/gradlew
*/gradlew.bat
*/build/*

*.vscode/
*.gch
*.o
*cmake-build-debug/
*/cmake-build-release/
*/cmake_install.cmake
*/CMakeFiles/
*/Makefile

*.log

*.DS_Store
*.json

