*/target/*
*/.idea/*
.idea/
*/.vscode/*
*iml
*/.gradle/*
*/gradle/*
*/gradlew
*/gradlew.bat
*/build/*

*.vscode/
*.gch
*.o
*cmake-build-debug/
*/cmake-build-release/
*/cmake_install.cmake
*/CMakeFiles/
*/Makefile

*.log

*.DS_Store
*.json
*/cmake.check_cache*

# Ignore Java compiled files
*.class

# Ignore native libraries
*.so
*.dll
*.dylib
