target/*
*.idea/*
base/target/*
rest/target/*
service/target/*
data/target/*
*iml
.gradle/*
gradle/*
gradlew
gradlew.bat
build/*

*.vscode/
*.gch
*.o
*cmake-build-debug/
src/native/.idea/

*/.idea*
build/
